@model SoftLineTestTask.Models.TaskViewModel

@{
    ViewBag.Title = "Создание задачи";
}

<h2>Создание задачи</h2>

@using (Html.BeginForm("Add", "Task", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Название:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Task.Name, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.Task.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Описание:</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(model => model.Task.Description, new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.Task.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="statusId" class="col-sm-2 control-label">Статус:</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.Task.StatusId, new SelectList(Model.Statuses, "Id", "Name"), new { @class = "form-control", @required = "required" })
            @Html.ValidationMessageFor(model => model.Task.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Создать" class="btn btn-primary">
        </div>
    </div>
}